<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Tour operator 1 !</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/style.css">
    <style>
    </style>

</head>
<body>

<header class="jumbotron text-center" style="margin-bottom:0">
    <div>
        <h2>Tour operator 1 </h2>
    </div>
</header>

<br>
<br>


<h1 style="text-align: center">Szczegóły oferty</h1>
<br>
<br>
<br>


<div>
    <table class="table table-striped table-hover" >
        <thead>
        <tr>
            <th style="color: #45a049"  scope="col">Numer</th>
            <th style="color: #45a049" scope="col"></th>
            <th style="color: #45a049" scope="col">Tytul</th>
            <th style="color: #45a049" scope="col">Kraj</th>
            <th style="color: #45a049" scope="col">Miejsce przylotu</th>
            <th style="color: #45a049" scope="col">Data wyjazdu</th>
            <th style="color: #45a049" scope="col">Powrót przed</th>
            <th style="color: #45a049" scope="col">Cena</th>
            <th style="color: #45a049" scope="col"></th>
            <th style="color: #45a049" scope="col"></th>
            <th style="color: #45a049" scope="col"></th>
        </tr>
        </thead>
        <tbody >
        <tr>
            <th th:text="${tour.getId()}"></th>
            <td> <img src= "favicon.ico" className="ui mini rounded image"  /></td>
            <td th:text="${tour.getTitle()}"></td>
            <td th:text="${tour.getCountry()}"></td>
            <td th:text="${tour.getDestinationCity()}"></td>
            <td th:text="${tour.dateFrom}"></td>
            <td th:text="${tour.dateTo}"></td>
            <td th:text="${tour.getPrice()}"></td>
        </tr>
        </tbody>
    </table>
</div>


<br>
<div th:text="${tour.hotel.getName()}">
</div>
<div th:text="${tour.hotel.getDescription()}">
</div>
<div th:text="${tour.hotel.getEmail()}">
</div>



</div>
</body>
</html>
